 @import url(https://fonts.googleapis.com/css?family=Share);
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@font-face {
    font-family: 'Digital';
  src: url('https://jonathanfelipe.com.br/css3-calculator/font/Digital.eot');
  src: url('https://jonathanfelipe.com.br/css3-calculator/font/Digital.eot?#iefix') format('embedded-opentype'), url('https://jonathanfelipe.com.br/css3-calculator/font/Digital.woff') format('woff'), url('https://jonathanfelipe.com.br/css3-calculator/font/Digital.ttf') format('truetype'), url('https://jonathanfelipe.com.br/css3-calculator/font/Digital.svg#https://jonathanfelipe.com.br/css3-calculator/font/Digital-7Italic') format('svg');
}

body{
background:url('http://fc05.deviantart.net/fs32/f/2008/227/4/a/Ibex_Wallpaper_by_willwill100.png');
display: flex;
align-items: center;
justify-content: center;
margin: 0;
padding: 0;
flex-direction: column;
height: 100vh;
font-family: 'Montserrat', sans-serif;
}
.result{
  background:hsl(60, 79%, 96%);
  color:#381434;
  width:90%;
  margin:8px 0px 20px 10px;
  height:50px;
  overflow:hidden;
  font-family: 'Montserrat', sans-serif;
  text-align:right;
  line-height:46px;
  padding-right:10px;
  font-size:35px;
  box-shadow:inset 0 0px 8px rgba(53, 49, 49, 0.5),inset 0px 2px 0 #a00812;
  
}
.numbers {
  padding:0;
  margin:0;
}
.numbers > li {
  background:rgb(167, 149, 247);
  padding:10px;
  font-family:Share;
  width:15%;
  list-style:none;
  float:left;
  margin:5px;
  cursor:pointer;
  border-radius: 5px;
  color: hsl(113, 43%, 4%);
  font-size: 20px;
  box-shadow: 0 5px 0 hsl(51, 89%, 37%), 0 2px 5px rgba(0, 0, 0, .75);
  text-align:center;
      transition: all .07s ease;
    -webkit-transition: all .07s ease;
    -moz-transition: all .07s ease;
}
.numbers > li:active {
  position: relative;
  top: 5px;
  box-shadow: inset 0 1px 2px rgba(143, 7, 7, 0.4);
}
.numbers > li:last-child{
width:65%;
margin-top:-48px;
}

.numbers > li:nth-child(16) {  
height:75px;
  line-height:80px;
}
.calc{
  background:#158f30;
  width:300px;
  padding:10px;
  border-radius:5px;
  height:340px;
  text-align:center;
  box-shadow: 0 6px 0 #880626, 0 8px 10px rgba(0, 0, 0, .75);
}
h1{
  color: #021b22;
}